  #s1 {
      border-radius: 25px;
      background: #41b4ac;
      padding: 20px;
      width: 600px;
      height: 300px;
      float: center;
      }
  #s2 {
      border-radius: 25px;
      background: #73AD21;
      padding: 20px;
      width: 470px;
      height: 250px;
      float: right;
      }
  #s3 {
      border-radius: 25px;
      background: #73AD21;
      padding: 20px;
      width: 420px;
      height: 250px;
      float: left;
      }
  #s4 {
      border-radius: 0px;
      background: #2a958d;
      padding: 20px;
      width: 1317px;
      height: 20px;
      float: left;
      }
footer{
  background-color: #2a958d;
  height: 25px;
  }
  #panel, #flip {
      padding: 5px;
      text-align: center;
      background-color: #e5eecc;
      border: solid 1px #c3c3c3;
  }

  #panel {
      padding: 50px;
      display: none;
  }
